* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #1c1c1c;
}

nav {
    height: 10vh;
    display: flex;
    background-color: #1c1c1c;
    box-shadow: 0 -8px 15px rgb(255, 255, 255);
}

.jjj {
    position: absolute;
    top: -3px;
    margin-left: 1170px;
}

li {
    list-style: none;
    margin: 0 15px;
}

li a {
    margin-top: 8px;
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    /* background: #333; */
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
    margin-left: 190px;
}

li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #0095ff;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #00b7ff;
}

li a:hover {
    color: #10bfff;
    /*     
    box-shadow: 0 0 5px #01a2ff;
    text-shadow: 0 0 5px #10abff; */
}

.ooppj {
    margin-left: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: rgb(56, 56, 56);
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid gray;
    padding: 5px;
}

.ggg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa-search {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #666;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    margin-right: 2px;
    margin-top: 2px;
}

.ooppj:hover {
    width: 300px;
    cursor: pointer;
}

.ooppj:hover .ggg {
    background: #faebd700;
    display: block;
}

.ooppj:hover .fa-search {
    right: 2px;
    margin-right: 1px;
    background: #02a4fb;
    color: white;
    margin-top: 2px;
}

.btn-outline-success {
    color: white;
    font-size: small;
}

.fa-gamepad {
    font-size: 38px;
    color: white;
    margin-top: 18px;
    transform: rotate(0.9turn);
    margin-left: 100px;
    margin-bottom: 14px;
    transition: all .7s ease;
}

.fa-gamepad:hover {
    transform: rotate(0.8turn);
    transition: all .7s ease;
}

path {
    color: white;
}

.oo {
    letter-spacing: 1px;
    font-family: system-ui;
    font-size: large;
    font-weight: 700;
    list-style-type: none;
    color: white;
    margin-left: 18px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .9s ease;
}

.jg {
    font-size: 22px;
    margin-top: 7px;
    transition: .9s ease;
    margin-left: 8px;
}

.jg:hover {
    transition: .9s ease;
    color: rgb(182, 182, 182);
}

.op {
    position: absolute;
    margin-right: 100px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.containeeer {
    left: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "proxima-nova-soft", sans-serif;
    -webkit-user-select: none;
    overflow: hidden;
}

.vertical-centered-box {
    margin-top: 90px;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    /*   margin-left: 30px; */
}

&:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.content {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}

* {
    transition: all .3s;
}

body {
    background: mix(#3f3251, #002025, 70%);
}

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%);
    margin-left: -60px;
    margin-top: -245px;
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -245px;
    overflow: hidden;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    animation: rotate 1.2s infinite linear;
}

.loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
}

#particles-background,
#particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    transform: scale3d(.5, .5, 1);
}

#particles-background {
    margin-top: 75px;
    background: mix(#3f3251, #002025, 70%);
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #aca7a7 2%, #080808 100%);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 50%;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 20px;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    margin-top: 170px;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.gdgd {
    margin-top: 8px;
}

.ooo {
    cursor: pointer;
    font-family: sans-serif;
    background: #323232;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    /* position: absolute; */
    right: 590px;
    top: 360px;
    color: wheat;
    transition: all .7s ease;
    top: 20px;
    margin-top: 11px;
    margin-left: 40px;
}

.ooo:hover {
    color: #1c1c1c;
    background: #ffffffa2;
    transition: all .7s ease;
}

.h3 {
    margin-left: 40px;
    margin-top: 20px;
    /*    left: 60px; */
    color: white;
    /*  position: absolute; */
    /*     bottom: 220px;*/
}

.uuuuu {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 14px;
    /*  left: 70px; */
    color: white;
    /* position: absolute; */
    bottom: 140px;
    margin-left: 40px;
}

.hiii {
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, 0, 1);
    background: rgba(255, 255, 255, 0.2);
    bottom: 90px;
    height: 249px;
    width: 356px;
    border-radius: 25px;
    position: absolute;
    box-shadow: 0 0 75px rgb(0 0 0 / 20%);
    margin-left: 60px;
}

.jhd {
    box-shadow: 0 4px 13px grey;
    border-radius: 50px;
}

.sss {
    font-weight: 600;
    text-shadow: 0 0 90px #000000, 0 0 10px #000000, 0 0 70px #000000, 0 0 20px #000000, 0 0 100px #000000;
    /*     text-shadow: 0 0 90px #ffffff, 0 0 10px #0008ef, 0 0 70px #2011ff, 0 0 20px #1a1081, 0 0 100px #0069ff;
 */
    /*     text-shadow: 0 0 90px #700c0c, 0 0 10px #ff0000, 0 0 70px #ffa1a1, 0 0 20px #ff0000, 0 0 100px #ff0000; */
    /*     text-shadow: 0 0 90px #fff, 0 0 10px #fff, 0 0 70px #fff, 0 0 20px #fff, 0 0 100px #fff;
 */
    font-size: 25px;
    margin-left: 49px;
    color: rgb(255 255 255 / 82%);
    margin-top: 7px;
}

.sss:hover {
    transition: all .1s ease;
    font-size: 26px;
}

.o {
    cursor: pointer;
    font-family: sans-serif;
    background: #323232;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    right: 590px;
    top: 360px;
    color: wheat;
    transition: all .7s ease;
    top: 20px;
    margin-bottom: 190px;
    left: 160px;
}

.o:hover {
    color: #1c1c1c;
    background: #ffffffa2;
    transition: all .7s ease;
}