* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #1c1c1c;
}

nav {
    height: 10vh;
    display: flex;
    background-color: #1c1c1c;
    box-shadow: 0 -8px 15px rgb(255, 255, 255);
}

.jjj {
    position: absolute;
    top: -3px;
    margin-left: 1170px;
}

li {
    list-style: none;
    margin: 0 15px;
}

li a {
    margin-top: 8px;
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    /* background: #333; */
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
    margin-left: 190px;
}

li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #0095ff;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #00b7ff;
}

li a:hover {
    color: #10bfff;
    /*     
    box-shadow: 0 0 5px #01a2ff;
    text-shadow: 0 0 5px #10abff; */
}

.ooppj {
    margin-left: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: rgb(56, 56, 56);
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid gray;
    padding: 5px;
}

.ggg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa-search {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #666;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    margin-right: 2px;
    margin-top: 2px;
}

.ooppj:hover {
    width: 300px;
    cursor: pointer;
}

.ooppj:hover .ggg {
    background: #faebd700;
    display: block;
}

.ooppj:hover .fa-search {
    right: 2px;
    margin-right: 1px;
    background: #02a4fb;
    color: white;
    margin-top: 2px;
}

.btn-outline-success {
    color: white;
    font-size: small;
}

.fa-gamepad {
    font-size: 38px;
    color: white;
    margin-top: 18px;
    transform: rotate(0.9turn);
    margin-left: 100px;
    margin-bottom: 14px;
    transition: all .7s ease;
}

.fa-gamepad:hover {
    transform: rotate(0.8turn);
    transition: all .7s ease;
}

path {
    color: white;
}

.oo {
    letter-spacing: 1px;
    font-family: system-ui;
    font-size: large;
    font-weight: 700;
    list-style-type: none;
    color: white;
    margin-left: 18px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .9s ease;
}

.jg {
    font-size: 22px;
    margin-top: 7px;
    transition: .9s ease;
    margin-left: 8px;
}

.jg:hover {
    transition: .9s ease;
    color: rgb(182, 182, 182);
}

.op {
    position: absolute;
    margin-right: 100px;
}

.c-hero-blur {
    margin-top: 80px;
    margin-left: 450px;
    position: absolute;
}

h1 {
    position: absolute;
    z-index: 2;
}

.c {
    font-family: sans-serif;
    color: white;
    position: absolute;
    float: left;
    font-size: 150px;
    margin-top: 80px;
    margin-left: 220px;
}

.u {
    font-family: sans-serif;
    color: white;
    position: absolute;
    float: left;
    font-size: 130px;
    margin-top: 290px;
    margin-left: 1020px;
}

.g {
    font-family: sans-serif;
    color: white;
    position: absolute;
    float: left;
    font-size: 150px;
    margin-top: 410px;
    margin-left: 70px;
    -webkit-mask-image: linear-gradient(transparent 10%, #fff);
    opacity: 0.9;
}

.e {
    font-weight: 400;
    font-family: sans-serif;
    color: white;
    position: absolute;
    float: left;
    font-size: 25px;
    margin-top: 500px;
    margin-left: 1170px;
    -webkit-mask-image: linear-gradient(transparent 2%, #fff);
    opacity: 0.8;
}

.hero-mouse {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -15px;
    text-align: center;
    z-index: 100;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.hero-mouse h3 {
    margin-left: -14px;
    padding-top: 15px;
}

.mouse-icon {
    width: 25px;
    height: 45px;
    border-radius: 15px;
    position: relative;
    border: 2px solid #dedede;
    text-align: center;
}

.mouse-icon span {
    width: 3px;
    height: 8px;
    margin: 2px auto 0;
    display: block;
    background: #dedede;
    border-radius: 5px;
    -webkit-animation: 1.2s ease infinite wheel-up-down;
    animation: 1.2s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

.c-filters-divider {
    position: relative;
    width: 640px;
    margin-top: 690px;
    height: 1px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 780px;
    background-color: hsla(0, 0%, 100%, .2);
}

.s {
    cursor: pointer;
    color: white;
    border: solid 1px;
    font-weight: 500;
    position: absolute;
    bottom: -48px;
    margin-left: 588px;
    border-radius: 20px;
    padding: 11px 36px;
    background: #1c1c1c;
}

.s:focus {
    background: white;
    border: none;
    color: black;
    transition: all .7s ease;
}

.bvbv {
    color: #4d4d4db2;
}

.nn {
    border-color: gray;
    border: solid 1px;
    color: #fff;
    font-weight: 500;
    position: absolute;
    bottom: -48px;
    margin-left: 419px;
    border-radius: 20px;
    padding: 11px 32px;
    transition: all .7s ease;
    background: #1c1c1c;
    cursor: pointer;
}

.nn:focus {
    background: white;
    border: none;
    color: black;
    transition: all .7s ease;
}

.pp {
    border-color: gray;
    border: solid 1px;
    color: #fff;
    font-weight: 500;
    position: absolute;
    bottom: -48px;
    margin-left: 278px;
    border-radius: 20px;
    padding: 11px 32px;
    transition: all .7s ease;
    background: #1c1c1c;
    cursor: pointer;
}

.pp:focus {
    background: white;
    border: none;
    color: black;
    transition: all .7s ease;
}

.w {
    border-color: gray;
    border: solid 1px;
    color: #fff;
    font-weight: 500;
    position: absolute;
    bottom: -48px;
    margin-left: 148px;
    border-radius: 20px;
    padding: 11px 32px;
    transition: all .7s ease;
    background: #1c1c1c;
    cursor: pointer;
}

.w:focus {
    background: white;
    border: none;
    color: black;
    transition: all .7s ease;
}


/* .gamadan {
    height: 100vh;
} */

.fa-circle {
    position: absolute;
    margin-left: 605px;
    bottom: -34px;
    color: #17ffbd;
    font-size: 10px;
}

.fa-dot-circle-o {
    position: absolute;
    margin-left: 434px;
    bottom: -34px;
    color: #ff9900;
    font-size: 10px;
}

.fa-square {
    position: absolute;
    margin-left: 294px;
    bottom: -33px;
    color: #b700ff;
    font-size: 10px;
}

.containertt {
    margin: 10px;
    color: #fff;
    margin-top: 60px;
    margin-left: 190px;
}

.pkss {
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 100;
}

.uc-filters-divider {
    position: relative;
    width: 1270px;
    height: 1px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    right: 40px;
    background-color: hsla(0, 0%, 100%, .2);
}

.div {
    height: 10vh;
    margin-top: 20px;
    margin-left: 20px;
    transition: all .8s ease;
}

.div h3 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.div:hover {
    margin-bottom: 20px;
    right: 490px;
    transition: all .8s ease;
    border-radius: 24px;
    background-color: #343434;
    height: 31vh;
    width: 1130px;
    transition: all .8s ease;
    color: #fff;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 30px;
    justify-content: center;
    text-align: start;
    align-items: center;
    transition: all .8s ease;
}

.fas-dot-circle-o {
    border-radius: 1px;
    bottom: 51px;
    color: #b700ff;
    position: relative;
    font-size: 10px;
    right: 100px;
    height: 10px;
    width: 10px;
    background: #b700ff;
    right: 23px;
}

.ccc {
    border-radius: 10px;
    bottom: 56px;
    color: #17ffbd;
    position: relative;
    font-size: 13px;
    right: 100px;
    height: 11px;
    width: 11px;
    background: #17ffbd;
    right: 23px;
}

.faii {
    border-radius: 10px;
    left: 189px;
    margin-top: -50px;
    color: #ff9900;
    position: absolute;
    font-size: 13px;
    height: 11px;
    width: 11px;
    background: #ff9900;
}

.bb {
    border-radius: 10px;
    bottom: 56px;
    color: #17ffbd;
    position: relative;
    font-size: 13px;
    right: 100px;
    height: 11px;
    width: 11px;
    background: #17ffbd;
    right: 23px;
}

.imager {
    display: none;
    transition: .7;
    margin-top: -330px;
    margin-left: 460px;
}

.div:hover img {
    display: block;
}

.iu {
    display: none;
    margin-top: -20px;
    position: absolute;
    font-size: 15px;
    color: #7f7f7f;
}

.div:hover p {
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
}

.imagerr {
    border-radius: 20px;
    display: none;
    transition: .7;
    margin-top: -430px;
    margin-left: 540px;
}

.imagerrr {
    border-radius: 20px;
    display: none;
    transition: .7;
    margin-top: -280px;
    margin-left: 540px;
}

.div:hover .imagerr {
    display: block;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagetr {
    height: 450px;
    width: 470px;
    display: none;
    transition: .7;
    margin-left: 490px;
    margin-top: -380px;
}

.btaaa {
    position: relative;
    height: 450px;
    width: 470px;
    display: none;
    transition: .7;
    margin-left: 490px;
    margin-top: -180px;
}

.imagrrerrr {
    border-radius: 20px;
    display: none;
    transition: .7;
    margin-top: -160px;
    margin-left: 540px;
}

.ball {
    height: 250px;
    width: 280px;
    display: none;
    transition: .7;
    margin-left: 680px;
    margin-top: -230px;
}

.ball1 {
    position: relative;
    height: 250px;
    width: 240px;
    display: none;
    transition: .7;
    margin-left: 530px;
    margin-top: -90px;
}

.irrmager {
    border-radius: 20px;
    display: none;
    transition: .7;
    margin-top: -320px;
    margin-left: 490px;
}

.iwwmagerr {
    border-radius: 20px;
    display: none;
    transition: .7;
    margin-top: -420px;
    margin-left: 540px;
}

.ggee {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.ggee:focus {
    background-color: white;
    color: black;
}

.containerhh {
    margin-left: 250px;
    align-items: center;
    margin-top: 30px;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerhh .card {
    position: relative;
}

.containerhh .card .face {
    width: 300px;
    height: 200px;
    transition: .4s;
}

.containerhh .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containerhh .card:hover .face.face1 {
    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}

.containerhh .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
}

.containerhh .card:hover .face.face1 .content {
    opacity: 1;
}

.containerhh .card .face.face1 .content i {
    font-size: 3em;
    color: white;
    display: inline-block;
}

.containerhh .card .face.face1 .content h3 {
    font-size: 1em;
    color: white;
    text-align: center;
}

.containerhh .card .face.face1 .content a {
    transition: .5s;
}

.containerhh .card .face.face2 {
    position: relative;
    background: rgb(97, 97, 97);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
}

.containerhh .card:hover .face.face2 {
    transform: translateY(0);
}

.containerhh .card .face.face2 .content p,
a {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.containerhh .card .face.face2 .content a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    /*     outline: 1px dashed #333; */
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

.containerhh .card .face.face2 .content a:hover {
    background: #333;
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card {
    cursor: pointer;
}

.content a {
    border-radius: 40px;
    background: linear-gradient(90deg, #755bea, #ff72c0);
}

h2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: #333;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
}

h2 span {
    transition: 0.5s;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
}

h2 span:nth-child(2) {
    margin-left: 40px;
}

.gggg {
    margin-top: 3px;
}

img {
    cursor: pointer;
}

footer {
    margin-top: 34px;
    width: 100%;
    background: linear-gradient(to right, #717171, #000000);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    display: none;
    text-decoration: none;
    color: #fff;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .far {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size: 16px;
    color: #ccc;
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }
    .col {
        flex-basis: 100%;
    }
    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}

.candy {
    height: 40vh;
}